<div class="col-md-4 col-xs-12" style="display: block">
  <canvas *ngIf="hasDataArrived"
          baseChart
          [data]="doughnutChartData.data"
          [labels]="doughnutChartData.labels"
          [chartType]="DOUGHNUT_CHART_TYPE"
  >
  </canvas>
</div>
<div class="col-md-8" style="display: block">
  <canvas *ngIf="hasDataArrived && (deviceDetector.$device | async) !== DEVICE.MOBILE"
          baseChart
          [datasets]="barChartData.data"
          [labels]="barChartData.labels"
          [chartType]="BAR_CHART_TYPE"
          [options]="barChartData.options"
          [legend]="barChartData.legend"
          [colors]="barChartData.chartColors"
  >
  </canvas>
</div>
