<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Footradamus</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a routerLink="" routerLinkActive="active"
               [routerLinkActiveOptions]="{exact: true}">
          Prediction<span class="glyphicon glyphicon-eye-open"></span></a>
        </li>
        <li><a routerLink="/statistics" routerLinkActive="active"
               [routerLinkActiveOptions]="{exact: true}">
          Statistics<span class="glyphicon glyphicon glyphicon-stats"></span></a>
        </li>
        <li><a routerLink="/predictionList" routerLinkActive="active"
               [routerLinkActiveOptions]="{exact: true}">
          Predictions<span class="glyphicon glyphicon-align-justify"></span></a>
        </li>
        <li><spinner></spinner></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!authenticationService.hasValidAdminToken()">
          <a routerLink="/adminlogin" routerLinkActive="active"
             [routerLinkActiveOptions]="{exact: true}">
            <span class="glyphicon glyphicon-log-in"></span> Admin Login</a></li>
        <li *ngIf="authenticationService.hasValidAdminToken()" (click)="localStorageService.removeAdminLoginToken()">
          <a routerLink="/adminlogin" routerLinkActive="active"
             [routerLinkActiveOptions]="{exact: true}">
            <span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
