.prediction-table {
  background-color: white;
}

.prediction-table th {
  background-color: mediumseagreen;
  color: white;
}

/*Selects the last two childs */
.prediction-table td:nth-last-child(-n+2) {
  text-align: center;
}

.sorting-table {
  top: 0px;
  display: table-cell;
  cursor: pointer;
}

.row-header {
  font-family: 'Glyphicons Halflings';
  font-style: italic;
  font-size: larger;
}
